<h1>Weather App</h1>
<div>
  <h1 class = "city"><%= @current_weather['name'] %></h1>
  <h2>It is <%= Time.at(@current_weather['dt']).to_datetime.strftime "%H:%M" %></h2>
  <%= @lon %> and <%= @lat %>

  <%= form_tag(home_index_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search])%>
    <%= submit_tag ("Search") %>
  <% end %>

</div>

<div class = "container">
    <div class = "daily ">
      <h3 class = "date"><%= Time.at(@forecast_weather['daily'][0]['dt']).to_datetime.strftime "%A: %m/%d/%Y" %> </h3>
      <div class = "hourly">
        <% @forecast_weather['hourly'].take(12).each do |hour|  %>
          <div class = "hour"> 
            <p> Hour: <%= Time.at(hour['dt']).to_datetime.strftime "%H:%M" %></p> 
            <img src= <%= "http://openweathermap.org/img/wn/#{@forecast_weather['daily'][0]['weather'][0]['icon']}@2x.png" %> />
            <p>Temp: <%= hour['temp'] %></p>
          </div>
        <% end %>
      </div>
      <p>Weather: <%= @forecast_weather['daily'][0]['weather'][0]['main'] %></p>
      <p>Description: <%= @forecast_weather['daily'][0]['weather'][0]['description'] %></p>
      <p>High Temp: <%= @forecast_weather['daily'][0]['temp']['max'] %> </p>
      <p>Low Temp: <%= @forecast_weather['daily'][0]['temp']['min'] %></p>
      <p>Feels like: <%= @forecast_weather['daily'][0]['feels_like']['day'] %>  </p>
      <p>Pressure: <%= @forecast_weather['daily'][0]['pressure'] %> </p>
      <p>Humidty: <%= @forecast_weather['daily'][0]['humidity'] %></p>
      <p>UV Index: <%= @forecast_weather['daily'][0]['uvi'] %></p>
      <p>Dew Point: <%= @forecast_weather['daily'][0]['dew_point'] %></p>
      <p>Wind Speed <%= @forecast_weather['daily'][0]['wind_speed'] %></p>
      <p>Sunrise: <%= Time.at(@forecast_weather['daily'][0]['sunrise']).utc.to_datetime.strftime "%H:%M" %> </p>
      <p>Sunset <%= Time.at(@forecast_weather['daily'][0]['sunset']).utc.to_datetime.strftime "%H:%M" %></p>
    </div>

    <% @forecast_weather['daily'].drop(1).each do |day| %>
      <div class = "daily ">
        <h3 class = "date"><%= Time.at(day['dt']).to_datetime.strftime "%A: %m/%d/%Y" %> </h3>
        <img src= <%= "http://openweathermap.org/img/wn/#{day['weather'][0]['icon']}@2x.png" %> />
        <p>Weather: <%= day['weather'][0]['main'] %></p>
        <p>Description: <%= day['weather'][0]['description'] %></p>
        <p>High Temp: <%= day['temp']['max'] %> </p>
        <p>Low Temp: <%= day['temp']['min'] %></p>
        <p>Feels like: <%= day['feels_like']['day'] %>  </p>
        <p>Pressure: <%= day['pressure'] %> </p>
        <p>Humidty: <%= day['humidity'] %></p>
        <p>UV Index: <%= day['uvi'] %></p>
        <p>Dew Point: <%= day['dew_point'] %></p>
        <p>Wind Speed <%= day['wind_speed'] %></p>
        <p>Sunrise: <%= Time.at(day['sunrise']).utc.to_datetime.strftime "%H:%M" %> </p>
        <p>Sunset <%= Time.at(day['sunset']).utc.to_datetime.strftime "%H:%M" %></p>
      </div>
    <% end %>

</div>

