<h1>Weather App</h1>

<div><%= @url['name'] %></div>
<div><%= @url['weather'][0] %></div>
<div><%= @url['main'] %></div>

<div>Wind: <%= @url['wind'] %></div>
<div>Clouds: <%= @url['clouds'] %></div>






