<h1>Weather App</h1>

<div><%= @current_weather['name'] %></div>
<div><%= @current_weather['weather'][0] %></div>
<div><%= @current_weather['main'] %></div>

<div>Wind: <%= @current_weather['wind'] %></div>
<div>Clouds: <%= @current_weather['clouds'] %></div>

<%= @forecast_weather %>



